<!DOCTYPE html>
<html lang="vi" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Cập nhật thông tin</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="/static/css/reset.css" rel="stylesheet">
    <!-- Bootstrap3.3.5 CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
    <link href="/static/css/queryResult.css" rel="stylesheet">
    <link href="/static/css/addEdu.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <br><br>
    <div class="queryResule">
        <h2>Cập nhật thông tin truy xuất nguồn gốc sản phẩm</h2>
        <div class="back">
          {{if eq .CurrentUser.IsAdmin "T"}}
              <a href="/addEduInfo">Thêm mới</a> &nbsp;&nbsp;
          {{end}}
            <a href="/index">Về trang chủ</a>
        </div>
        <form action="/modify" method="post" name="modifyForm">
        <div class="top">
              <div class="left">
                  <p>
                      <span>Loại sản phẩm：</span>
                      <span>
                        <input type="text" name="docType" value="{{.Com.Type}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Loại sản phẩm'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Loại sản phẩm';this.className ='input_text'}" accesskey="n" type="text" placeholder="Loại sản phẩm" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Mã sản phẩm：</span>
                      <span>
                        <input type="text" name="primarykey" value="{{.Com.Primarykey}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Mã sản phẩm'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Mã sản phẩm';this.className ='input_text'}" accesskey="n" type="text" placeholder="Mã sản phẩm" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Tên sản phẩm：</span>
                      <span>
                        <input type="text" name="name" value="{{.Com.Name}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Tên sản phẩm'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Tên sản phẩm';this.className ='input_text'}" accesskey="n" type="text" placeholder="Tên sản phẩm" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Nhãn hiệu：</span>
                      <span>
                        <input type="text" name="brand" value="{{.Com.Brand}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Nhãn hiệu'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Nhãn hiệu';this.className ='input_text'}" accesskey="n" type="text" placeholder="Nhãn hiệu" size="25" autocomplete="off" placeholder="">
                      </span>
                  </p>
                  <p>
                      <span>Mô tả：</span>
                      <span>
                        <input type="text" name="des" value="{{.Com.Des}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Mô tả'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Mô tả';this.className ='input_text'}" accesskey="n" type="text" placeholder="Mô tả" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Thông số：</span>
                      <span>
                        <input type="text" name="specification" value="{{.Com.Specification}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Thông số'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Thông số';this.className ='input_text'}" accesskey="n" type="text" placeholder="Thông số" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Nguồn：</span>
                      <span>
                        <input type="text" name="source" value="{{.Com.Source}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Nguồn'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Nguồn';this.className ='input_text'}" accesskey="n" type="text" placeholder="Nguồn" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Xử lý：</span>
                      <span>
                        <input type="text" name="machining" value="{{.Com.Machining}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Phương pháp xử lý'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Phương pháp xử lý';this.className ='input_text'}" accesskey="n" type="text" placeholder="Phương pháp xử lý" size="25" autocomplete="off">
                      </span>
                  </p>
              </div>
              <div class="right">
                  <p>
                      <span>Ghi chú：</span>
                      <span>
                        <input type="text" name="remarks" value="{{.Com.Remarks}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Ghi chú'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Ghi chú';this.className ='input_text'}" accesskey="n" type="text" placeholder="Ghi chú" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Chủ sở hữu：</span>
                      <span>
                        <input type="text" name="principal" value="{{.Com.Principal}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Chủ sở hữu'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Chủ sở hữu';this.className ='input_text'}" accesskey="n" type="text" placeholder="Chủ sở hữu" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Điện thoại：</span>
                      <span>
                        <input type="text" name="phoneNumber" value="{{.Com.PhoneNumber}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Điện thoại'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Điện thoại';this.className ='input_text'}" accesskey="n" type="text" placeholder="Điện thoại" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Hạn sử dụng：</span>
                      <span>
                        <input type="text" name="shelfLife" value="{{.Com.ShelfLife}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Hạn sử dụng'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Hạn sử dụng';this.className ='input_text'}" accesskey="n" type="text" placeholder="Hạn sử dụng" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Bảo quản：</span>
                      <span>
                        <input type="text" name="storageMethod" value="{{.Com.StorageMethod}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Bảo quản'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Bảo quản';this.className ='input_text'}" accesskey="n" type="text" placeholder="Bảo quản" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Nhà sản xuất：</span>
                      <span>
                        <input type="text" name="vendor" value="{{.Com.Vendor}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Nhà sản xuất'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Nhà sản xuất';this.className ='input_text'}" accesskey="n" type="text" placeholder="Nhà sản xuất" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Nơi sản xuất：</span>
                      <span>
                        <input type="text" name="placeOfProduction" value="{{.Com.PlaceOfProduction}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Nơi sản xuất'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Nơi sản xuất';this.className ='input_text'}" accesskey="n" type="text" placeholder="Nơi sản xuất" size="25" autocomplete="off">
                      </span>
                  </p>
                  <p>
                      <span>Tiêu chuẩn：</span>
                      <span>
                        <input type="text" name="executiveStandard" value="{{.Com.ExecutiveStandard}}" class="input_text" tabindex="1" onfocus="if(this.placeholder=='Tiêu chuẩn'){this.placeholder='';}this.className ='input_text input_text_focus'" onblur="if(this.value==''){this.placeholder='Tiêu chuẩn';this.className ='input_text'}" accesskey="n" type="text" placeholder="Tiêu chuẩn" size="25" autocomplete="off" placeholder="">
                      </span>
                  </p>
              </div>

            <div class="headImg">
                <div class="uploadImg">
                    <input type="file" name="" value="Tải ảnh lên" id="file">
                    +
                    <!-- <img src="./images/head.jpg" alt=""> -->
                    <img src="{{.Com.Photo}}" alt="">
                </div>
                <p>Kích thước (120*160px)</p>
            </div>
        </div>
        <input type="hidden" name="photo" id="photo" value="{{.Com.Photo}}"/>
        <button type="button" name="button" class="btn">Cập nhật</button>
        </form>
    </div>
    <!-- data-backdrop="false"  -->
    <div class="modal fade bd-example-modal-sm"  id="myModal" role="dialog" data-backdrop="false"  aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <p class="text-center mb-0" style="height:42px;line-height:42px;margin:0;">
                    <i class="fa fa-check-circle text-success mr-1" aria-hidden="true"></i>
                    Vui lòng nhập đầy đủ thông tin cần thiết cho sản phẩm!
                </p>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function() {
        // Upload image
        $('#file').unbind('change').bind('change',function() {
            event.stopPropagation();
            uploadFile('img');
            return;
        });
        // Profile picture
        var artImg;
        function uploadFile(type) {
            event.stopPropagation();
            let formData = new FormData();
            if( type == "img"){
                formData.append('file', $('#file')[0].files[0]);
            }
            $.ajax({
                url: '/upload',
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                dataType: "json",
                contentType: false
            }).done(function (res) {
                if (res.error == "0") {
                    if( type == "img"){
                        $('.uploadImg img').attr('src', res.result.path);
                        $('#photo').val(res.result.path)
                        return artImg = res.result.path;
                    }
                } else {
                    alert("Tải lên thất bại！" + res.result.msg)
                }
            }).fail(function (res) { });
        }

        var inputs = $('input[type="text"]');
        // Submit button
        $('.btn').click(function() {
            // If it is empty, an error prompt
            for (var i = 0; i < inputs.length; i++) {
                if (!($(inputs[i]).val())) {
                    $(inputs[i]).addClass('redColor');
                    $('#myModal').modal('show');
                    setTimeout(function(){
                        $("#myModal").modal("hide");
                    },2000);
                    return;
                }
            }

            // Enter data after success
            $("form[name='modifyForm']").submit()
        })
    })
</script>
</html>
